
.locations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Increased gap for better spacing */
    padding: 40px;
}
.location-box {
    background-color: rgba(7, 81, 166, 0.9); /* Royal purple background */
    color: white;
    padding: 30px; /* Increased padding for larger boxes */
    border-radius: 15px; /* More rounded corners */
    width: 250px; /* Increased width */
    text-align: center;
    font-size: 18px; /* Larger font */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s ease;
    
}
.location-box:hover {
    transform: scale(1.1); /* Slight enlargement on hover */

}